body {
    background-color: white);
    margin: 8px;
    display: block;
}
.funParagraph {
    color: green
}
#mainHeading {
    color: red;
}
footer {
    margin: 8px
    width: 25%;
}
footer div {
    padding: 1pc;
    text-align: left;
}
